/* Minor reset */
body {
    font-family: sans-serif;
    color: #202020;
    background: #fefefe;
}

/* Design framework */
.main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-header {
    background: lightblue;
    border-radius: 4px;
    padding: 5px;
    margin-top: 8px;
    flex: 0 0 auto;
}
.main-header-title {
    display: inline;
}
.main-header-chanSelect {
    float: right;
}
.main-content {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* ChanView */
.chanView-input {
    flex: 0 0 auto;
    order: 2;
    resize: vertical;
}
.chatWindow {
    flex: 1 1 auto;
    overflow-y: auto;
    order: 1;
}

/* Messages */
.message {
    margin-top: 0.5em;
}
.message:after {
    content: "";
    display: table;
    clear: both;
}
.message:last-child {
    margin-bottom: 0.5em;
}
.chatMessage-meta {
    float: left;
    background: lightgreen;
    border-radius: 2px;
    margin: 0 0.6em 0 0.3em;
    padding: 5px;
}
.chatMessage-date {
    text-align: right;
    display: block;
    font-size: 70%;
}
.chatMessage-data {
    padding-top: 0.6em;
    margin-left: 1em;
}
.message + .message-joined, .message + .message-left {
    display: inline-block;
    background: rgb(203, 175, 203);
    margin-left: 2em;
    margin-right: 2em;
    padding: 2px;
    border-radius: 2px;
}

/* ChanOptions*/
.chanOptions {
    list-style: none;
    padding: 0 1em;
}

.chanOptions-chan {
    cursor: pointer;
    display: flex;
    background: #eeeeee;
}
.chanOptions-chan,
.chanOptions-inputLabel {
    padding: 0.5em;
}
.chanOptions-chan-new {
    padding: 0;
}
.chanOptions-inputLabel {
    width: 100%;
    cursor: pointer;
}
.chanOptions-chan:first-child {
    border-radius: 4px 4px 0 0;
}
.chanOptions-chan:last-child {
    border-radius: 0 0 4px 4px;
}
.chanOptions-chan-joined {
    background: lightyellow;
}
.chanOptions-chan:hover {
    background: lightgrey;
}
.chanOptions-chanName {
    flex: 1 1 auto;
    order: 1;
}
.chanOptions-leaveChan {
    flex: 0 0 auto;
    order: 2;
    display: none;
    color: grey;
}
.chanOptions-leaveChan:hover {
    text-decoration: underline;
}
.chanOptions-chan-joined .chanOptions-leaveChan {
    display: initial;
}
